/* Basic */

hr {
	border-top: thin dotted;
}

/* BLog */
.lead-in {
	height: 3.75em;
	margin-left: 0em;
	margin-right: 0.25em;
	margin-top: 0em;
	margin-bottom: 0.25em;
}

/* Title Bar */

.titlebar {
    padding-top: 8px;
	border-top: thick solid black;
	margin-bottom: 10px;
    border-bottom: thin dotted;
}

.titlebar-site {
}

.titlebar-site a {
    vertical-align: top;
    font-size: 1.333em;
    font-variant: small-caps;
    color: black !important;
}

.titlebar-menu {
    margin-top: 4px;
    float: right;
}

/* Footer */
.footer {
    clear: both;
    margin-top: 50px;
    padding-top: -5px;
    border-top: thin dotted lightgray;
}
.footer p {
    color: lightgray;
    font-size: smaller;
}


/* Links */

a {
    text-decoration: none;
    color: dimgray;
}

a:hover {
    color: black;
}

.titlebar-menu a {
    text-decoration: none;
    color: lightgray;
}

.titlebar-menu a.highlight {
    color: black;
}

.titlebar-menu a:hover {
    color: dimgray;
}

/* Blog List */

.blogs-short {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Blurb */
.blurb-tall-badge {
    float: left;
    margin: 0.6em;
}

/* Photo carousel */

.slides-container {
	width: 100%;
}
#slides {
	width: 100%;
}
#slides img {
	display: inline;
}
#slides .carousel-caption {
	padding-top: 10px;
	padding-bottom: 5px;
	position: relative;
    color: black;
    margin-top: 10px;
    left: 0px;	
	text-shadow: none;
}
#slides .carousel-control {
	width: 50%;
	z-index: 20;
	color: lightgray;
}
#slides .carousel-control.right, #slides .carousel-control.left {
	background-image: none;
}
.carousel-control .glyphicon-chevron-left {
	left: 20px;
}
.carousel-control .glyphicon-chevron-right {
	right: 20px;
}
#slides .carousel-control .glyphicon-chevron-left, #slides .carousel-control .glyphicon-chevron-right {
	top: 10px;
}
#slides .location {
	float: right;
	padding-right: 60px;
}
#slides .caption {
	padding-left: 60px;
	text-align: left;
}

/ * Sections */

.activeSection {
    color: black;
}

.disabledSection {
    color: lightgray;
}
