---
layout: default
title: Posts
section: posts
---
<div id="main">

<ul class="list-unstyled">
  {% for post in site.posts %}
    <li class="clear-fix">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      
    	{% if post.thumbnail %}
    	<img class="pull-right" style="max-height: 100px;"src={{post.thumbnail}}></img>
    	{% endif %}
      <p class="lead">{{ post.excerpt }}</p>
      
      <p class="text-muted">{{post.date}}
      {% for category in post.categories %}
      <span class="label label-default">{{category}}</span> 
      {% endfor %}
      </p>
    </li>
  {% endfor %}
</ul>

</div>

