---
layout: default
title: "www.dgjones.info"
section: home
---

<div class="row">


{% for story in site.data.stories %}
<div class="col-sm-3">
<div class="thumbnail">
	<a href="{{story.url}}">
  <img src="{{story.image}}" alt="{{story.title}}">
  </a>
  <div class="caption">
    <p><a href="{{story.url}}">{{story.title}}</a></p>
    {% if story.description %} 
    <p>Windows adaptation of the board game.</p>
    {% endif %}
  </div>
  </a>
</div>
</div>

{% if forloop.index == 3 %}
<div class="col-sm-3">
Blog
<ul class="list-unstyled">
  {% for post in site.posts %}
    <li class="clearfix blogs-short">
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
</div>
{% endif %}

{% endfor %}

</div>