<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="main">
    <div class="titlebar"> 
        <div class="titlebar-menu"><a class="{% if page.section == 'photos'%}highlight{%endif%}" href="index.html">Photos</a> | <a class="{% if page.section == 'books'%}highlight{%endif%}" href="books.html">Books</a> | <a class="{% if page.section == 'software'%}highlight{%endif%}" href="software.html">Software</a> | <a class="{% if page.section == 'contact' %}highlight{%endif%}"  href="contact.html">Contact</a></div>
        <div class="titlebar-site"><a href="index.html">www.dgjones.info</a></div>
    </div>

